{% extends 'nav.html' %}

{% block content %}
<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-500 mb-8" viewBox="0 0 975.036 975.036">
          <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
        </svg>
        <p class="leading-relaxed text-lg">
            Surya Facilities is a leading security services company that specializes in providing comprehensive security solutions to businesses, organizations, and individuals. Our company is dedicated to ensuring the safety and security of our clients' people, assets, and properties.
            We have a team of highly trained and experienced security professionals who are equipped with the latest security technology and techniques. Our personnel are skilled in identifying potential security risks and implementing strategies to mitigate those risks effectively. We provide a range of security services, including security personnel, surveillance, access control, alarm monitoring, and security consulting.
            At Surya Facilities, we believe in a holistic approach to security. We work closely with our clients to understand their unique security needs and develop customized security solutions that address those needs. We also work closely with local communities to develop integrated security solutions that take into account the unique challenges and opportunities of the location.
        </p>
        <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
        <h2 class="text-white font-medium title-font tracking-wider text-sm">Surya LASTNAME</h2>
        <p class="text-gray-500">CEO</p>
      </div>
    </div>
</section>

<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
          <div class="h-full text-center">
            <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10" src="https://dummyimage.com/302x302">
            <p class="leading-relaxed">a CEO plays a critical role in shaping the direction and success of a company. They are responsible for making strategic decisions, leading the company's operations, and ensuring that the company meets its goals and objectives. A CEO must also possess strong leadership and communication skills, as well as the ability to inspire and motivate their team. In addition, a CEO must have a deep understanding of the company's industry and market, as well as the vision and creativity to innovate and stay ahead of the competition. Ultimately, a CEO's leadership and vision can have a significant impact on the success and reputation of the company they lead.</p>
            <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
            <h2 class="text-white font-medium title-font tracking-wider text-sm">SURYA LASTNAME</h2>
            <p class="text-gray-500">CEO</p>
          </div>
        </div>
        <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
          <div class="h-full text-center">
            <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10" src="https://dummyimage.com/300x300">
            <p class="leading-relaxed">A security manager is responsible for overseeing the safety and security of a business, organization, or facility. Their role involves a range of responsibilities aimed at preventing theft, vandalism, and other security threats. One of their primary duties is to develop and implement security policies and procedures that ensure the facility's security is maintained. This includes conducting regular security assessments to identify potential risks and vulnerabilities, managing and training a team of security personnel, and overseeing security operations such as access control, alarm monitoring, and video surveillance. The security manager also collaborates with other departments or external agencies, such as law enforcement or emergency services, to develop integrated security strategies.</p>
            <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
            <h2 class="text-white font-medium title-font tracking-wider text-sm">ALPER KAMU</h2>
            <p class="text-gray-500">SECURITY MANAGER</p>
          </div>
        </div>
        <div class="lg:w-1/3 lg:mb-0 p-4">
          <div class="h-full text-center">
            <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10" src="https://dummyimage.com/305x305">
            <p class="leading-relaxed">The Human Resources (HR) department is a critical function within any organization. HR is responsible for managing the company's workforce, from hiring and training to benefits administration and performance management. One of the primary functions of HR is to ensure that the company has a talented and motivated workforce. This involves identifying the skills and experience required for each role, developing job descriptions, and sourcing candidates through various channels. HR also plays a crucial role in employee retention and engagement, with responsibilities that include providing opportunities for career development and promoting a positive work culture</p>
            <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
            <h2 class="text-white font-medium title-font tracking-wider text-sm">HENRY LETHAM</h2>
            <p class="text-gray-500">HR</p>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}