{% extends 'nav.html' %}

{% block content %}
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero" src="https://srmtrain.com/assets/img/profile-picture.jpg">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"><div id="typing" /></h1>
      <p class="mb-8 leading-relaxed">A Versatile and Strategic Entrepreneur in Service Industry.</p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">About Shri P Ravi- Chairman of SRM Groups</h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">Shri. P. Ravi is the Chairman of SRM Groups, one of the most reputed education institutions in India. Born on 15th March 1967, he is the son of Dr. T. R. Pachamuthu, Founder and Chancellor of SRM Institute of Science and Technology, an Educationist, a Philanthropist and an Industrialist. His mother Smt.P. Easwari is an Educationist and Treasurer of Valliammai Society, constituted with the objective for establishing educational institutions. A Post Graduate in Literature, Shri. P. Ravi holds responsibility for SRM Groups’ Corporate Functions, including Finance, Strategy Management, Business Plan, Optimization of Resources, and Innovations.He is also a renowned edupreneur, industrialist, and a philanthropist.

        Mr. Ravi Pachamoothoo is an ardent traveler and enjoys traveling across the world. Traveling provides him an opportunity to experience the working nuances of industries and enterprises which could be incorporated into the Group’s activities and set them apart as leaders in the relevant fields.</p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">An Entrepreneur</h1>
      <div class="h-1 w-20 bg-indigo-500 rounded"></div>
    </div>
    <div class="xl:w-3/4 lg:w-3/4 w-full mx-auto text-center">
      <p class="leading-relaxed text-lg">As Dr. T. R. Pachamoothoo laid the strong foundation for the SRM Group, Mr. Ravi Pachamoothoo has further expanded the frontiers of the SRM group from an educational institute to a business empire with the largest portfolio of institutions in South India. For the past 30 years, he has been actively associated in setting up of several educational institutions under SRM Groups.

        The SRM Educational Group as a community has over 80,000 students and 4,500 staff spreading over nine campuses in India now. The SRM Group has earned the best teaching quality rating and a strong research record under the leadership of Shri. P. Ravi. The institution offers a wide range of undergraduate, postgraduate and doctoral programs in Engineering & Technology, Management Studies, Medicine and Health Sciences, Law, and Science & Humanities.</p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">A Philanthropist</h1>
      <div class="h-1 w-20 bg-indigo-500 rounded"></div>
    </div>
    <div class="xl:w-3/4 lg:w-3/4 w-full mx-auto text-center">
      <p class="leading-relaxed text-lg">As a philanthropist, Shri Ravi has developed SRM hospitals at Kattankulathur, Chengalpattu, Chennai with 1225 beds and state of the Art medical equipment to ensure that the people living in the surrounding remote areas of lower economic strata of the society are treated. He has also started a 750 bedded state of the art hospital in Trichy to cater to the needs of the rural population.

        He has initiated several scholarships for meritorious and economically challenged students to enable them to achieve higher levels and goals in life. He provides books, uniforms and tuition fees to the children belonging to economically backward section.
        
        Mr. Ravi was one of the first to contribute to the Chief Minister’s Relief Fund for the benefit of people affected by the Cyclone Thane in 2013.He has also contributed to the “Prime Minister’s” Relief Fund for flood victims in Kashmir.
        
        SRM, under his chairmanship, has decided to provide full scholarship (tuition fees and hostel fees) to the students hailing from the Thane cyclone affected areas and belonging to the affected agricultural families for pursuing their engineering college till the final year.SRM group has also contributed liberally to the development of under developed districts in the stare through the collector’s welfare scheme.
        
        Besides, Shri.P. Ravi has been contributing to renovate the various dilapidated places of worship in remote villages to retain the age-old traditions and practices carried out there.He provides funds to the needy for taking medical assistance from the hospitals.</p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">AN INDUSTRIALIST</h1>
      <div class="h-1 w-20 bg-indigo-500 rounded"></div>
    </div>
    <div class="xl:w-3/4 lg:w-3/4 w-full mx-auto text-center">
      <p class="leading-relaxed text-lg">Mr. Ravi Pachamoothoo rise as an industrialist is well commemorated in the establishment of SIMS hospitals, hotels, cements, civil works, auto-tech, Trac Media and transportation.</p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">SIMS Hospital</h1>
      <div class="h-1 w-20 bg-indigo-500 rounded"></div>
    </div>
    <div class="xl:w-3/4 lg:w-3/4 w-full mx-auto text-center">
      <p class="leading-relaxed text-lg">Established in 2012, the SIMS Hospital in Chennai renders 360-degree advanced tertiary healthcare services with multi-super specialty and a state-of-the-art multi-organ transplant service. With the finest combination of experience, expertise, state-of-the-art technology and well-coordinated patient-centric teamwork, the hospital aims to provide utmost care to its patients and ensures excellence in treatment.

        Following the footsteps of the SRM Group- a large conglomerate with a leading presence in education, medical, transport and infotainment, the SIMS Hospital strives to establish trust and excellence. Its vision is to offer an advanced full range of primary and specialty care medical care services as well as enabling cross specialty consultation for unmatched patient experience. Shri. P. Ravi is instrumental in the growth and expansion of the SIMS Hospitals across Chennai. More than 1500 Employees were employed across all the hospitals under his umbrella.</p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Hotels</h1>
      <div class="h-1 w-20 bg-indigo-500 rounded"></div>
    </div>
    <div class="xl:w-3/4 lg:w-3/4 w-full mx-auto text-center">
      <p class="leading-relaxed text-lg">Shri Ravi has entered into the hotel industry in the year 1995 and his passion for the Hospitality Industry has enabled the Group to set up six hotels of different categories at various locations in Tamil Nadu. He lays emphasis on quality, dedicated service, and focus on delivering sustainable growth. The Hotels under his control are acclaimed and conferred with awards. More than 750 Employees were employed across all the hotels.</p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Cements</h1>
      <div class="h-1 w-20 bg-indigo-500 rounded"></div>
    </div>
    <div class="xl:w-3/4 lg:w-3/4 w-full mx-auto text-center">
      <p class="leading-relaxed text-lg">Shri Ravi has established Hemadri Cements Ltd., at Jaggayyapet in Andhra Pradesh. The plant was commissioned in March 1985. Mr. Pachamoothoo has a Midas’ touch in whatever ventures he turns his attention to. He took over a sick cement company situated in the state of Andhra Pradesh and within a short span of time, he turned it into a profit-making venture. The company provides direct employment to over 500 people and indirect employment to many. The cement unit has now initiated steps for expansion of its capacity. The manufactured cements surpass all the stringent quality Control parameters set by the Bureau of Indian Standards (B.I. S) and the Research & Consultancy Directorate. Both Hemadri 43 Grade and Hemadri Gold 53 Grade O.P.C are manufactured using Vedadri Lime Stone, renowned to be one of the best lime stones available in the country.</p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Civil Works</h1>
      <div class="h-1 w-20 bg-indigo-500 rounded"></div>
    </div>
    <div class="xl:w-3/4 lg:w-3/4 w-full mx-auto text-center">
      <p class="leading-relaxed text-lg">Shri Ravi has set his foot in the SRM Civil Works Private Limited in the year 1998, which is yet another company, engaged in the production of ready-mix concretes used for construction activities and others. He has also got two factories located in the suburbs of Chennai.</p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">SRM Auto- Tech</h1>
      <div class="h-1 w-20 bg-indigo-500 rounded"></div>
    </div>
    <div class="xl:w-3/4 lg:w-3/4 w-full mx-auto text-center">
      <p class="leading-relaxed text-lg">SRM Auto- Tech is another renowned establishment started by Shri. P. Ravi. Established in the year 2013 located at kandigai, Chennai, SRM Auto Tech now has more than 100 employees at the unit. Bus building is an amalgamation of art and science, with the primary focus on contemporary designs and robust structure. SRM AutoTech manufactures state-of-art, technologically enabled buses at affordable prices. With the wide range of available bus bodies, our customers are never short of choices and we have 1200+ satisfied customers. Abiding by budget limits and sticking to deadlines have been our forte since inception.

        In the year 2014, he started a media company called Trac Media Private Limited which runs as a successful general entertainment TV channel in the name of Vendhar TV. It telecasts regular news updates and entertainment.
        
        Shri Ravi has started SRM Transports Private Limited in the year 1999, which has a fleet of over 120 buses plying across the five southern states and about 30 car carriers, minibuses, bulkers, Speed Parcel Carriers and tourist cabs. More than 50 employees are employed in the unit.</p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
          <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
        </svg>
        <p class="leading-relaxed text-lg">In recognition and appreciation for contribution towards the field of Education, Hospitality and the dedicated Medical Service amid pandemic, Shri Ravi Pachamootho has been awarded with “LIFE TIME ACHIEVEMENT AWARD 2021” by Rotary Club of Maraimalar Nagar.

            The World Tamil Organization (UK) and its partner organizations honored Shri Ravi Pachamoothoo with “The Lifetime Achievement Award in Medicine for a Lifelong Commitment to Build Better Healthcare & Innovation in Heath Tech Through leadership, Sustainability, Ethics and Corporate Governance” in 2019.
            
            He has received Edupreneurs award for “The Positive Contribution to Education in Tamilnadu” for the year 2012, 2013 and 2014 from Times of India.
            
            For his contribution to the society, he has recently been conferred with “Dharma Dharana” award by ‘Sudesi’ a leading international magazine.
            
            Education Excellence Award 2012 conferred by Brands Academy.
            
            World Tamil Organization, UK  has awarded him the “Lifetime Achievement award in Medicine and for a lifelong commitment to build better Healthcare & Innovation in Health Tech through Leadership, Sustainability, Ethics and Corporate Governance”. The SRM University under his chairmanship has bagged various laurels, awards, and recognitions.</p>
        <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
        <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">AWARDS AND ACCOLADES</h2>
        <p class="text-gray-500">SURYAFACILITIES</p>
      </div>
    </div>
  </section>

  <script>
    var i = 0;
    var txt = 'Pavan Ravi'; // replace with your actual text
    var speed = 100; // adjust typing speed as required
    
    function typeWriter1() {
      if (i < txt.length) {
        document.getElementById("typing").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter1, speed);
      }
    }
    
    // Call the function to start the typing animation
    typeWriter1();
  </script>
{% endblock %}